* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: #E2E7ED;
}

.filterContainer {
  top: 94px;
  left: 300px;
  width: 80%;
  position: absolute;
  visibility: hidden;
  background-color: #5093E1;
}

.main {
  width: 100%;
}

.linkContainer {
  margin-top: 20px;
}

.linkToPath {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 14.06px;
  color: #5093E1; 
  margin-left: 20px;
  text-decoration: none;
}

.linkToPath:hover {
  text-decoration: underline;
}

h1 {
  color: #4E5361;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  margin-left: 28px; 
  margin-top: 7px;
}

.mainContent {
  display: flex;
  background-color: #E2E7ED;
}
